certifi==2018.4.16
chardet==3.0.4
click==6.7
future==0.16.0
gitdb2==2.0.3
GitPython==2.1.10
idna==2.6
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.3
pexpect==4.5.0
protobuf==3.5.2.post1
ptyprocess==0.5.2
pyaml==17.12.1
pycryptodomex==3.6.1
python-dateutil==2.7.3
PyYAML==3.12
requests==2.18.4
semver==2.8.0
six==1.11.0
smmap2==2.0.3
spell==0.9.0
tabulate==0.8.2
tensorflow-gpu==1.1.0
tqdm==4.23.3
urllib3==1.22
Werkzeug==0.14.1
